<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Candidates/List">
                <span class="oi oi-list" ></span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" >
                <span class="oi oi-book" ></span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" >
                <span class="oi oi-bookmark" ></span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" >
                <span class="oi oi-moon" ></span>
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
